@page
@model ForgotPasswordModel
    <head>
        <title>Login V6</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--===============================================================================================-->
        <link rel="icon" type="image/png" href="images/icons/favicon.ico" />
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="/Login/vendor/bootstrap/css/bootstrap.min.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="/Login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="/Login/fonts/iconic/css/material-design-iconic-font.min.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="/Login/vendor/animate/animate.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="/Login/vendor/css-hamburgers/hamburgers.min.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="/Login/vendor/animsition/css/animsition.min.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="/Login/vendor/select2/select2.min.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="/Login/vendor/daterangepicker/daterangepicker.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="/Login/css/util.css">
        <link rel="stylesheet" type="text/css" href="/Login/css/main.css">
        <!--===============================================================================================-->
    </head>
    <body>

        @{
            ViewData["Title"] = "Забули свій пароль?";
        }

        <div class="limiter">
            <div class="container-login100">
                <span class="login100-form-avatar">
                    <img src="/Login/images/avatar-01.jpg" alt="AVATAR">
                </span>

         
                
                    <div class="col-md-4">
                        <form method="post">
                            <h1>@ViewData["Title"]</h1>
                           
                            <hr />

                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Input.Email"></label>
                                <input asp-for="Input.Email" class="form-control" />
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                            <button type="submit" class="btn btn-primary">Підтвердити</button>
                        </form>
                    </div>

                </div>
            </div>

                @section Scripts {
                    <partial name="_ValidationScriptsPartial" />
                }
</body>